package com.kobaco.smartad.controller;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.ModelAttribute;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.ResponseBody;

import com.kobaco.smartad.model.data.SAEquipement;
import com.kobaco.smartad.model.service.CommonSingleResult;
import com.kobaco.smartad.service.SAEquipmentService;

@Controller
@RequestMapping(value="/equipment")
public class EquipmentController {
	
	@Autowired
	public SAEquipmentService entService;

	private static final Logger logger = LoggerFactory.getLogger(EquipmentController.class);
	
	@RequestMapping(value="/" , method = RequestMethod.GET)
    public String form(@RequestParam (value="id",defaultValue="" )String id){	
        
        return "equipment/"+id+"Form";
   }

//	@RequestMapping("/equipment/insert")
//    public @ResponseBody CommonSingleResult insert(@ModelAttribute SAEquipement ent ){		
//		CommonSingleResult result = entService.insertEquipment(ent);        
//        return result;
//   }
	
	@RequestMapping("/equipment/update")
    public @ResponseBody CommonSingleResult update(@ModelAttribute SAEquipement ent){		
		CommonSingleResult result = entService.updatetEquipment(ent);        
        return result;
   }
	
	@RequestMapping("/equipment/delete")
    public @ResponseBody CommonSingleResult delete(@ModelAttribute SAEquipement ent){			
		CommonSingleResult result = entService.deleteEquipment(ent);        
        return result;
   }
	
//	@RequestMapping("/equipment/list")
//    public @ResponseBody CommonSingleResult<SAEquipment> list(@ModelAttribute SAEquipment ent){		
//		CommonSingleResult<SAEquipment> result = entService.listEquipment(ent);        
//        return result;
//   }
	
//	@RequestMapping("/equipment/info")
//    public @ResponseBody CommonSingleResult<SAEquipement> info(@ModelAttribute SAEquipement ent){		
//		CommonSingleResult<SAEquipement> result = entService.infoEquipment(ent);        
//        return result;
//   }
}
